<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitness Website</title>
  <link rel="stylesheet" href="workouts.component.css">
</head>
<body>

  <nav class="navbar">
    <div class="logo">AIDo: Fitness</div>
    <div class="menu">
      <a href="#home">Take me back</a>
    </div>
  </nav>

  <div class="content">
    <div class="card" id="card1">
      <img src="./assets/maxresdefault.jpg" alt="Push-Pull-Legs">
      <p class="card-text">Push-Pull-Legs</p>
    </div>
    <div class="card" id="card2">
      <img src="./assets/Untitled-1.png" alt="Bro Split">
      <p class="card-text">Bro Split</p>
    </div>
  </div>


  <div class="footer">
    <br>
    <h2>Contact Us</h2>  <br>
    <br>
    <p class="contact">Phone: +40 770 521 816</p>
    <p class="contact">Email: echipadigitala&#64;gmail.com</p>
    <p class="contact">Instagram: <a href="https://www.instagram.com/aido.app/" style="color: white;">&#64;aido.app</a></p>
    <p class="contact">Address: Strada Exemplu, nr 1234, Sibiu 123456</p>
    <br>
    <br>
  </div>

  <div class="popup" id="popup1">
    <!-- Content for Push-Pull-Legs Popup -->
  </div>

  <div class="popup" id="popup2">
    <!-- Content for Bro Split Popup -->
  </div>

</body>
</html>
